@img: '../../images';

#help {
  height: 65rem;
  min-height: 65rem;
  margin-top: 10vh;
  background: #f3f6fd;
  position: relative;
  text-align: center;
  background-image: url("@{img}/helpBackground.png");
  background-repeat: no-repeat;
  background-position: top;

  .ivu-layout-content {
    margin-top: 5rem;

    .ivu-layout {
      background: transparent;

      .ivu-layout-sider {
        background: white;

        .ivu-menu-item-group li {
          text-align: left;
        }
      }

      .content {
        margin-left: .6rem;
        line-height: 2rem;
        height: 55rem;
        background: white;
        text-align: left;

        .ivu-layout-content {
          .text {
            margin-top: 1rem;
            text-align: left;
            font-size: 1rem;
          }
        }
      }

      .background {
        position: absolute;
        bottom: 50%;
        background: red;
        width: 100%;
        z-index: 0;
      }
    }
  }
}

#help:after {
  content: '';
  background: #ccc;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
