@img: '../../images';

#help {
  height: 60rem;
  min-height: 60rem;
  margin-top: 10vh;
  background: #f3f6fd;
  .ivu-layout-content {
    margin-top: 2rem;
    .box {
      float: right;
    }
  }
}
