@img: '../../images';

.layout {
  position: relative;
  overflow: hidden;
}

#main {
  background: url("@{img}/aboutBackgroud.png") no-repeat;
  background-size: cover;
  background-position: 30% 30%;
  height: 75rem;
  min-height: 75rem;
  margin-top: 10vh;
}

.shape {
  margin-top: 1rem;
  height: 5px;
  border-radius: 5px;
  width: 100px;
  background: #24d39b;
}

.code-row-bg {
  margin-top: 10rem;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;

  .mianTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 5rem;
    margin-top: 5rem;

    h1 {
      color: white;
      font-size: 4rem;
    }

    p {
      font-weight: 100;
      letter-spacing: 2px;
      font-size: 1rem;
      color: white;
    }
  }

  .card {
    width: 100%;
    margin-top: 5vh;

    .ivu-row {
      .ivu-col {
        .ivu-card {
          height: 35rem;
          padding: 2rem;
          background: transparent;
          border: transparent;
          color: white;
        }
      }

      .num1 {
        p:first-of-type {
          height: 5rem;
          width: 5rem;
          background: url("@{img}/num1.png") no-repeat left;
        }

        h1 {
          font-weight: lighter;
          margin: 1rem 0;
        }
      }

      .num2 {
        p:first-of-type {
          height: 5rem;
          width: 5rem;
          background: url("@{img}/num2.png") no-repeat left;
        }

        h1 {
          font-weight: lighter;
          margin: 1rem 0;
        }
      }

      .num3 {
        p:first-of-type {
          height: 5rem;
          width: 5rem;
          background: url("@{img}/num3.png") no-repeat left;
        }

        h1 {
          font-weight: lighter;
          margin: 1rem 0;
        }
      }

      .num:hover {
        transition: all 0.5s;
        background: white;
        background-image: url("@{img}/cardBackground.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 0.5rem;

        p {
          color: #515a6e;
        }

        h1 {
          color: #515a6e;
        }
      }

      .num1:hover {
        p:first-of-type {
          background: url("@{img}/num1-active.png") no-repeat left;
        }
      }

      .num2:hover {
        p:first-of-type {
          background: url("@{img}/num2-active.png") no-repeat left;
        }
      }

      .num3:hover {
        p:first-of-type {
          background: url("@{img}/num3-active.png") no-repeat left;
        }
      }
    }
  }

  .search {
    text-align: center;
    padding: 0 10rem;
    margin: 5rem 0;

    .searchBar {
      // position: absolute;
      height: 2rem;
      position: relative;
    }
  }

  .ivu-card-shadow {
    box-shadow: 0 1px 1px 0 transparent;
  }
}

#text {
  background: url("@{img}/dot.png");
  background-position: center;
  background-size: 50%;
  background-repeat:  space;
  padding: 5rem 0;

  .ivu-layout-content {
    .ivu-row {
      display: flex;
      .ivu-col:first-of-type {
        p {
          color: #0D4BDE;
          font-size: 1rem;
        }

        h1 {
          font-size: 4rem;
          color: #000;
        }
      }

      .ivu-col:last-of-type {
        font-size: 1.5rem;
      }
    }
  }
}

#introduce {
  height: 85rem;
  padding: 10rem 0 30rem;
  position: relative;
  text-align: center;
  background: url("@{img}/MiningArt@2x.png") no-repeat;
  background-size: 100%;
  background-position: bottom;

  h1 {
    position: absolute;
    bottom: 10rem;
    left: 0;
    right: 0;
    font-size: 3rem;
    text-align: center;
    color: white;
  }

  h2 {
    font-size: 2rem;
    font-weight: normal;
  }

  p {
    font-size: 1rem;
    font-weight: 600;
    color: #1b234d;
  }

  .shape {
    margin: 1rem auto;
    width: 10rem;
  }

  .introduceItem {
    height: 5rem;
    width: 4rem;
    background-size: 100%;
    background-position: center;
    margin: 1rem auto;
  }

  .introduce-1 {
    background: url("@{img}/introduce-1.png") no-repeat center;
  }

  .introduce-2 {
    background: url("@{img}/introduce-2.png") no-repeat center;
  }

  .introduce-3 {
    background: url("@{img}/introduce-3.png") no-repeat center;
  }

  .introduce-4 {
    background: url("@{img}/introduce-4.png") no-repeat center;
  }
}
/* MOBILE */
@media (max-width:520px) {
  #main {
    background-size: 160%;
    height: 90vh;
    min-height: 90vh;

    .dataItem {
      height: 4rem;
      width: 3rem;
      margin: 0 auto;
      background-size: 100%;
      background-position: center;
    }

    .data {
      width: 100%;
      height: 25rem;

      .ivu-row-flex {
        padding-top: 2vh;
      }

      .details {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 12px;
        color: #FFD8DC;
      }
    }
  }

  #introduce {
    height: 45rem;
    min-height: 45rem;
    padding: 13rem 0 30rem;

    h1 {
      font-size: 1rem;
      bottom: 2rem;
    }

    .code-row-bg {
      margin-top: 3rem;
    }

    .introduceItem {
      height: 4rem;
      width: 4rem;
    }
  }

  .background {
    padding: 0;

    .mianTitle {
      line-height: 3rem;
      margin-top: 2rem;
      padding: 0 2rem;

      h1 {
        font-size: 2rem;
      }
    }

    .search {
      margin: 2rem 0 0;
      padding: 0 2rem;
    }

    .data {
      padding-top: 0;
      margin-top: 0;
      background: transparent;
      box-shadow: 0 0 0 transparent;

      .ivu-row-flex {
        .ivu-col {
          padding: 1rem;
          width: 40%;
          background: #060f29;
          box-shadow: 0 10px 10px #060f2973;
        }
      }

      .ivu-row-flex:last-of-type {
        margin-top: 0;
      }
    }
  }
}
/* MOBILE */
/* PC */
@media (min-width:320px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width:1200px) {}
/* PC */
